In [1]:
import pandas as pd

In [2]:
final = pd.read_csv("C:/Users/13903/Desktop/final_table.csv")
duplicate = pd.read_excel("C:/Users/13903/Desktop/Duplicates.xlsx")
main = pd.read_excel("C:/Users/13903/Desktop/Main Records.xlsx")

In [3]:
duplicate_final_ID = pd.DataFrame(final['Matched ID'])
duplicate_final_ID['cluster id'] = final['cluster id']
duplicate_final_ID

     Matched ID  cluster id
0      db41c6a1         0.0
1      dde408f0         1.0
2      4e82ee4a         2.0
3      3eef0d37         3.0
4      b2bd862f         4.0
...         ...         ...
9256   c76ffc85      9256.0
9257   8e1e86e4      9257.0
9258   d22930bf      9258.0
9259   462f4f66      9259.0
9260   972ee771      9260.0

[9261 rows x 2 columns]

In [4]:
temp = []
for i in range(len(duplicate)):
  temp.append(-1)
duplicate["cluster_id"] = temp

In [5]:
for j in range(len(duplicate_final_ID['Matched ID'])): 
  for i in range(len(duplicate['ID'])):
    if str(duplicate['ID'][i]) == str(duplicate_final_ID['Matched ID'][j]):
      duplicate['cluster_id'][i] = duplicate_final_ID['cluster id'][j]
      pass

C:\Users\13903\AppData\Local\Temp\ipykernel_16172\1673945682.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate['cluster_id'][i] = duplicate_final_ID['cluster id'][j]

In [6]:
duplicate.sort_values('cluster_id')

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
5069,fd28a28a,Zunich,Thyssen,08/25/2016,NaN,NaN,NaN,NaN,NaN,NaN,Canada,English,-1
5856,bda308e5,Marcom,Edgar,01/15/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
5863,88c2bc57,Mae,Ronald,01/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
5914,d24be1d0,Murphy,Geri,09/26/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
5928,250dea1d,Cook,Geoff,07/16/2013,NaN,NaN,NaN,NaN,NaN,NaN,Canada,Korean,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,c76ffc85,Ripley,Diahann,07/19/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9256
2195,8e1e86e4,Olaughlin,Rueth,06/27/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9257
2138,d22930bf,Briggs,Cheri,09/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,9258
1923,462f4f66,Dillon,Rueth,03/23/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9259
1751,972ee771,Gonzalez,Knick,10/07/2013,NaN,NaN,NaN,NaN,NaN,Canada,NaN,NaN,9260

In [11]:
duplicates = duplicate[duplicate['cluster_id'] > -1]
duplicates

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
0,73c2ab6a,NaN,Steven,01/13/2008,NaN,NaN,NaN,Indian,NaN,Canada,NaN,NaN,1026
1,488f1063,NaN,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,NaN,NaN,NaN,NaN,1025
2,331bea71,Yerian,Ellwood,08/18/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,8465
3,ac3aaf9c,NaN,Robin,08/25/2013,NaN,NaN,NaN,Indian,NaN,Canada,NaN,English,1024
4,ae9c2ae4,NaN,Raymond,05/25/2017,NaN,NaN,Other Christianity,NaN,NaN,Canada,NaN,English,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,08606dd8,Avila,NaN,06/24/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1357
10136,8507e3f4,Fernandez,NaN,08/07/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1356
10137,d5285223,Mathews,NaN,02/28/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7859
10138,7157d300,Konty,NaN,12/15/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1355
10139,8f88ce49,Knowlton,NaN,10/24/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1354

In [14]:
#duplicate.to_csv("C:/Users/ZZH/Desktop/error_duplicate.csv", index=False, encoding='utf-8')
duplicates.to_csv("C:/Users/13903/Desktop/duplicate.csv", index=False, encoding='utf-8')
#duplicate_ = pd.read_csv("C:/Users/ZZH/Desktop/duplicate.csv")

In [15]:
#duplicate_.sort_values(['cluster_id'], inplace = True)
#duplicate.to_csv('C:/Users/ZZH/Desktop/duplicate.csv')
duplicate_ = pd.read_csv("C:/Users/13903/Desktop/duplicate.csv")
duplicate_

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
0,73c2ab6a,NaN,Steven,01/13/2008,NaN,NaN,NaN,Indian,NaN,Canada,NaN,NaN,1026
1,488f1063,NaN,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,NaN,NaN,NaN,NaN,1025
2,331bea71,Yerian,Ellwood,08/18/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,8465
3,ac3aaf9c,NaN,Robin,08/25/2013,NaN,NaN,NaN,Indian,NaN,Canada,NaN,English,1024
4,ae9c2ae4,NaN,Raymond,05/25/2017,NaN,NaN,Other Christianity,NaN,NaN,Canada,NaN,English,1023
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9256,08606dd8,Avila,NaN,06/24/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1357
9257,8507e3f4,Fernandez,NaN,08/07/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1356
9258,d5285223,Mathews,NaN,02/28/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7859
9259,7157d300,Konty,NaN,12/15/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1355
9260,8f88ce49,Knowlton,NaN,10/24/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1354

In [16]:
duplicate_.sort_values(['cluster_id'])

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
1551,db41c6a1,NaN,Camilla,04/29/2022,NaN,NaN,NaN,Native Hawaiian,NaN,NaN,NaN,NaN,0
1550,dde408f0,NaN,Yolanda,05/15/2018,NaN,NaN,NaN,NaN,NaN,Canada,NaN,Tagalog,1
1549,4e82ee4a,NaN,Marion,08/28/2022,NaN,NaN,Pentecostalism and other Charismatic,NaN,NaN,Canada,NaN,Portuguese,2
1547,3eef0d37,NaN,Jesse,06/13/2016,NaN,NaN,NaN,Middle Easterner,NaN,Canada,NaN,NaN,3
1546,b2bd862f,NaN,Jean,07/09/2012,NaN,NaN,Judaism,NaN,NaN,NaN,NaN,Tagalog,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,c76ffc85,Ripley,Diahann,07/19/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9256
2132,8e1e86e4,Olaughlin,Rueth,06/27/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9257
2079,d22930bf,Briggs,Cheri,09/29/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,9258
1868,462f4f66,Dillon,Rueth,03/23/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9259
1704,972ee771,Gonzalez,Knick,10/07/2013,NaN,NaN,NaN,NaN,NaN,Canada,NaN,NaN,9260

In [9]:
'''duplicate_labeled = duplicate_[duplicate_['cluster_id'] > -1]
duplicate_labeled.reset_index(drop =True, inplace=True)
duplicate_labeled.drop(duplicate_labeled.columns[0], axis = 1, inplace = True)
duplicate_labeled.to_csv("C:/Users/ZZH/Desktop/duplicate.csv", index=False, encoding='utf-8')'''

'duplicate_labeled = duplicate_[duplicate_[\'cluster_id\'] > -1]\nduplicate_labeled.reset_index(drop =True, inplace=True)\nduplicate_labeled.drop(duplicate_labeled.columns[0], axis = 1, inplace = True)\nduplicate_labeled.to_csv("C:/Users/ZZH/Desktop/duplicate.csv", index=False, encoding=\'utf-8\')'